.glassPic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    transition: background-image 0.5s ease-in-out;
    background-image: url("../../../assets/artDump/bgCover.jpg");
  }
  
  .bg-sketch {
    background-image: url("../../../assets/artDump/Sketch/s6.jpg");
  }
  
  .bg-abstract {
    background-image: url("../../../assets/artDump/misc/m2.jpg");
  }
  
  .bg-acrylic {
    background-image: url("../../../assets/artDump/Exhibition/e11.jpeg");
  }
  
  .glass-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    z-index: 2;
  }
  